# .NET
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
.vs/

# EF Core Migrations Snapshot
**/Migrations/*.csproj

# Secrets
appsettings.Development.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db
